html {
    scroll-padding-top: 60px;
    /* height of sticky header */
}

#name {
    margin-bottom: 0.3em;
}

i {
    margin-right: 8%;
}

#social-links {
    margin: 1.5vh 0 2.5vh 0;
}

/* :target::before {
    content: "";
    display: block;
    height: 75px;
    /* fixed header height*/
    margin: -75px 0 0;
    /* negative fixed header height */
} */

/*
#subheader {
margin-left: 0.3rem;
}

body {
     width: 100%;
     padding: 0;
     margin: 0;
} */