html {
    scroll-padding-top: 60px;
    /* height of sticky header */
}

#name {
    margin-bottom: 0.3em;
    z-index: 500;
    position: relative;
}

#nameOverlay {
    position: fixed;
    top: 1rem;
    display: none;
    z-index: 600;
}

#resume {
    padding: 0;
}

#resume-header {
    padding-left:1.5rem;
    text-align: left;
}

a.button {
    padding: 0.75em;
}

#resume-container {
    text-align: center;
}

i {
    margin-right: 8%;
}

#social-links {
    margin: 1.5vh 0 2.5vh 0;
}

.hidden {
    visibility: hidden;
}

.skill-icon {
    width: 100%;
}

#skill-icons-section {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center
}

#tool-icons-section {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
}

.icon-container {
    margin-bottom: 20px;
    width: 28%;
    max-width: 120px;
    margin-right: 5%;
}

.tag {
    margin-left: 0.3em;
    padding-left: 0.6em !important;
    padding-right: 0.6em !important;
}